#chart-container {
    display: block;
    height: 100%;
    width: 100%;
  }
  ion-content {
    display: block;
    height: 100%;
    width: 100%;
  }
  ion-content#parent {
    display: block;
    height: 100%;
    width: 100%;
  }
  ejs-chart {
     display: block;
    height: 100%;
    width: 100%;
  }